<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="roleAction" class="edson.web.erp.role.action.RoleAction" scope="prototype" >
		<property name="service" ref="roleService"></property>
		<property name="res_service" ref="resourceService"></property>
		<property name="menu_service" ref="menuService"></property>
	</bean>
	<bean id="roleService" class="edson.web.erp.role.service.RoleService" >
		<property name="dao" ref="roleDao"></property>
	</bean>	
	<bean id="roleDao" class="edson.web.erp.role.dao.RoleDao" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>