<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="orderAction" class="edson.web.erp.order.action.OrderAction" scope="prototype" >
		<property name="service" ref="orderService"/>
		<property name="supp_service" ref="supplierService"/>
		<property name="gt_service" ref="goodsTypeService"/>
		<property name="g_service" ref="goodsService"/>
		<property name="emp_service" ref="empService"/>
	</bean>
	<bean id="orderService" class="edson.web.erp.order.service.OrderService" >
		<property name="dao" ref="orderDao"/>
	</bean>
	<bean id="orderDao" class="edson.web.erp.order.dao.OrderDao" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

</beans>